<!doctype html>
<html>

<head>
    <title>Aqua Mede</title>

    <!-- Set the viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- Set character encoding -->
    <meta charset="utf-8">

    <!-- Request fonts and styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="../style/font-awesome.min.css">
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/bootstrap.min.css">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#2E3AA1">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PSK">
    <link rel="icon" sizes="192x192" href="../images/touch/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
    <link rel="apple-touch-icon" href="../images/touch/icon-192x192.png">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="msapplication-TileImage" content="../images/touch/icon-192x192.png">

    <!-- Manifest -->
    <link rel="manifest" href="../manifest.json">

</head>

<body>
    <div id="login" class="container-fluid bg-home" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <img src="../images/aquamede-logo-m.png" alt="Aquamede Logo" class="logo">
                </div>
            </div>
            <div class="row row-form">
                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">

                    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>

                </div>
            </div>
        </div>
    </div>

    <div id="messageBox"class="container-fluid bg-home" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <img src="../images/aquamede-logo-m.png" alt="Aquamede Logo" class="logo">
                </div>
            </div>
            <div class="row row-form">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h3 id="message"></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- app -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/idb-promised.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>